.text-justify {
  font-family: 'Times New Roman Cyr';
  color: white;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
}

.row.text-center {
  margin-right: 0px;
  margin-left: 0px;
}

