
/*formats thumbnail*/
.projects_thumbnail{
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  width: 100%;
}

.projects_textbox1{
color: #c9c8bd;
margin-top: 50px;
margin-bottom: 35px;
}

.projects_textbox2{
color: #7c818a;
margin-top: 26px;
margin-bottom: 39px;
}

.projects_textbox3{
  font-family: 'Times New Roman Cyr';
}

.projects_textbox4{
  color: #7c818a;
  margin-bottom: 37px;
  margin-top: 19px;;
}

.projects_photos{
  width: 100%;
  margin-bottom: 15px;
}
