.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width:440px) {
  .d-flex.flex-row.simple-slider {
    background-image: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:450px) {
  .simple-slider .swiper-button-next {
    display: none;
  }
}

@media (max-width:440px) {
  .simple-slider .swiper-slide {
  }
}

.swiper-wrapper {
  width: 486px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  height: 369px;
}

.swiper-button-next {
  background-image: url("../../assets/img/right_button.svg");
  width: 114px;
  height: 23px;
  background-size: 114px;
  margin-top: 190px;
  margin-right: -6px;
}

