body {
  background-image: url("../../assets/img/background.webp");
  background-size: auto;
  background-repeat: repeat;
  background-color: rgb(0,2,9);
  font-family: 'Apple Garamond';
  color: white;
}

/* formats footer spacing*/
.footer {
  margin: 35px;
}

.footer_img {
  max-width: 80px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
