body {
  background-image: url("../../assets/img/background.jpg");
  background-size: auto;
  background-repeat: repeat;
  background-color: rgb(0,2,9);
  font-family: 'Apple Garamond';
  color: white;
}

/* formats footer spacing*/
.footer {
  margin: 35px;
}

.footer_img {
  max-width: 80px;
}

.index_centre{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.index_centre_img{
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.index_textbox{
  margin-top: 55px;
  font-size: 2rem;
}

/*Adds space to the navbar*/
.about_me_powerbook_map {
  margin-top: 84px;
}

/*max-width makes elements responsive*/
.about_me_map_container {
  max-width: 400px;
  margin: auto;
  height: 300px;
}

/*sizes img to map size- used percentage to keep values consistent on all DPIs*/
.about_me_img_container {
  margin-top: -2%;
}

.about_me_img_powerbook {
  width: 100%;
  pointer-events: none;
  margin-top: -61%;
}

.about_me_map_frame {
  width: 74%;
  margin-right: auto;
  margin-left: auto;
  height: 72%;
}

/*Unique presets for all text*/
.about_me_textbox1{
  color: #c9c8bd;
  margin-top: 50px;
}

.about_me_textbox2{
  color: grey;
  margin-top: 10px
}

.about_me_textbox3{
  font-family: 'Times New Roman Cyr';
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.gallery_optionbox{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.gallery_option_img{
  width: 300px;
}

.gallery_textbox{
  margin-top: 24px;
  color: white;
}

/*creates border for gallery box*/
.gallery_sliderbox{
  max-width: 600px;
  width: auto;
  margin-top: 40px;
}

/*formats thumbnail*/
.projects_thumbnail{
  max-width: 400px;
}

.projects_textbox1{
color: #c9c8bd;
margin-top: 50px;
margin-bottom: 35px;
}

.projects_textbox2{
color: #7c818a;
margin-top: 26px;
margin-bottom: 39px;
}

.projects_textbox3{
  font-family: 'Times New Roman Cyr';
}

.projects_textbox4{
  color: #7c818a;
  margin-bottom: 37px;
  margin-top: 19px;;
}

.projects_photos{
  width: 100%;
  margin-bottom: 15px;
}

@media (max-width:767px) {
  .gallery_sliderbox .carousel-control-next, .gallery_sliderbox .carousel-control-prev {
    display: none;
    background-image: none;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
